<a href="https://colab.research.google.com/github/ljt528/Backend/blob/main/5.4.%EB%AA%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 깊은 복사와 얕은 복사

In [ ]:
# 아무런 복사도 이뤄지지 않은 상태
l = [[1, 2, 3], [4, 5, 6]]
ll = l
ll[0]= 10
l, ll

([10, [4, 5, 6]], [10, [4, 5, 6]])

In [ ]:
# 얕은 복사
l = [1000, 2000, 3000, 4000, 5000, 6000]
ll = l.copy()
ll[0]= 10
l, ll

([1, 2, 3, 4, 5, 6], [10, 2, 3, 4, 5, 6])

In [ ]:
l = [1000, 2000, 3000, 1000, 1000, 1000]
id(l[0]), id(l[4]), id(l[5])

(139660894457680, 139660894457680, 139660894457680)

In [ ]:
# 얕은 복사
l = [1000, 2000, 3000, 4000, 5000, 6000]
ll = l.copy()
id(l[0]), id(ll[0]) # 같은 값이 나오니까 같은 객체를 가리키고 있다?

(139662142685424, 139662142685424)

In [ ]:
# 얕은 복사
l = [1000, 2000, 3000, 4000, 5000, 6000]
ll = l.copy()
id(l), id(ll)

(139660894985280, 139660894399168)

In [ ]:
# 얕은 복사
l = [[1, 2, 3], [4, 5, 6]]
ll = l.copy()
ll[0][0] = 10
l, ll

([[10, 2, 3], [4, 5, 6]], [[10, 2, 3], [4, 5, 6]])

In [ ]:
id(l[0]), id(ll[0])

(139661113241472, 139661113241472)

In [ ]:
# 얕은 복사
l = [[1, 2, 3], [4, 5, 6]]
ll = l.copy()
ll[0]= 100
l, ll

([[1, 2, 3], [4, 5, 6]], [100, [4, 5, 6]])

In [ ]:
# 깊은 복사
import copy

l = [[1, 2, 3], [4, 5, 6]]
ll = copy.deepcopy(l)
ll[0][0] = 10
l, ll
id(l[0]), id(ll[0])
id(l[0][0]), id(ll[0][0])

(139662142685424, 139662142685712)

In [ ]:
# 깊은 복사
import copy

l = [[1, 2, [1, [999, 998]]], [4, 5, 6]]
ll = copy.deepcopy(l)
ll[0][0] = 10

* 얕은 복사는 1 계층만 복사합니다.
* 깊은 복사는 n 계층까지 모두 복사합니다.

* 나를 이해시키는 단 하나의 코드는 반드시 존재합니다.

In [ ]:
# 얕은 복사
l = [[1, 2, 3], [4, 5, 6]]
ll =  l[:]
l[0] = 100
l, ll

([100, [4, 5, 6]], [[1, 2, 3], [4, 5, 6]])

In [ ]:
# sorted도 얕은 복사!
l = [[1, 2],[3, 4]], [5, 6]
ll = sorted(l)
l[0][0] = 100
l, ll

In [ ]:
# 얕은 복사
# 리스트 컴프리헨션은 안배운 내용이니 keep해두시고
# for문을 배운 다음 다시 오셔서 복습하시기를 권해드립니다.
l = [[1, 2, 3], [4, 5, 6]]
ll =  l[:] # l.copy를 써도 마찬가지입니다.
l[0][0] = 100
l, ll

([[100, 2, 3], [4, 5, 6]], [[100, 2, 3], [4, 5, 6]])

In [ ]:
# 얕은 복사
# 리스트 컴프리헨션은 안배운 내용이니 keep해두시고
# for문을 배운 다음 다시 오셔서 복습하시기를 권해드립니다.
l = [[1, 2, 3], [4, 5, 6]]
ll =  [i for i in l]
l[0][0] = 100
l, ll

([[100, 2, 3], [4, 5, 6]], [[100, 2, 3], [4, 5, 6]])

In [ ]:
# 1단계 깊은 복사
# 리스트 컴프리헨션은 안배운 내용이니 keep해두시고
# for문 배운다음 다시 오셔서 복습하시기를 권해드립니다.
l = [[1, 2, 3], [4, 5, 6]]
ll = [i[:] for i in l]
l[0][0] = 100
l, ll

([[100, 2, 3], [4, 5, 6]], [[1, 2, 3], [4, 5, 6]])

## 다차원 리스트

In [ ]:
a = [[1, 2, 3],
     [11, 22, 33],
     ['leehojun', 20, 30]]

# 문제 : jun만 뽑아주세요!
print(a[2][0][-3:])
print(a[2][0][5:])
print(a[2][0][5], a[2][0][6], a[2][0][7], sep='')

jun
jun
jun

## 리스트에서 built-in function을 활용

* 알아야 하는 built-in function

```
A
abs()
all()
any()

B
bin()
bool()

C
chr()

D
dict()
dir()

E
enumerate()
eval()

F
filter()
float()

G
globals()

H
help()
hex()

I
id()
input()
int()
isinstance()
issubclass()
iter()

L
len()
list()
locals()

M
map()
max()
min()

N
next()

O
object()
oct()
open()
ord()

P
pow()
print()
property()

R
range()
repr()
reversed()
round()

S
set()
setattr()
slice()
sorted()
staticmethod()
str()
sum()
super()

T
tuple()
type()

V
vars()

Z
zip()
```

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8]
print(max(a)) #최댓값
print(min(a)) #최솟값
print(sum(a)) #전체값의 합

8
1
36

In [ ]:
#2차원
a = [[1, 2, 3, 'a'],
     [11, 22, 33, 'aaa'],
     [10, 2000, 30, 'aa']]

max(a, key=lambda x:x[1])

[10, 2000, 30, 'aa']

In [ ]:
#2차원
a = [[1, 2, 3, 'a'],
     [11, 22, 33, 'aaa'],
     [10, 2000, 30, 'aa']]

max(a, key=lambda x:len(x[3]))

[11, 22, 33, 'aaa']

In [ ]:
# 이름, 별점, 객실수, 가격
호텔 = [
    ['이스트소프트 호텔', 5, 100, 155000],
    ['삼스트소프트 호텔', 4, 80, 145000],
    ['사스트소프트 호텔', 3, 70, 135000],
    # 마지막에 콤마를 허락하는 언어는 제한적 (특히 JSON에서는 엄격해서 허락하지 않습니다.)
]

max(호텔, key=lambda x:x[3]) # 가장 가격이 높은 것을 뽑아낼 수 있음
min(호텔, key=lambda x:x[3]) # 가장 가격이 낮은 것을 뽑아낼 수 있음

['사스트소프트 호텔', 3, 70, 135000]

In [ ]:
#2차원
a = [[1, 2, 3],
     [11, 22, 33],
     [10, 2000, 30]]

max(a, key=lambda x:x[1])
min(a, key=lambda x:x[1])
# sum(a) error
sum(a, [])

[1, 2, 3, 11, 22, 33, 10, 2000, 30]

## 리스트의 순회

In [ ]:
#1차원
a = [1, 2, 3, 4, 5, 6, 7, 8]

# for 변수 in 순회가능한 객체
for i in a:
     print(i)

1
2
3
4
5
6
7
8

In [ ]:
#2차원
a = [[1, 2, 3],
     [11, 22, 33],
     [13, 20000, 300000]]

for i in a:
    print(i)
    print('---')
print('end')

[1, 2, 3]
---
[11, 22, 33]
---
[13, 20000, 300000]
---
end

In [ ]:
#2차원
a = [[1, 2, 3],
     [11, 22, 33],
     [13, 20000, 300000]]

for i in a:
    for j in i:
        print(j)
    print('---')
print('end')

1
2
3
---
11
22
33
---
13
20000
300000
---
end

## range

In [ ]:
# range(start, stop, step)
# 슬라이싱과 같은 규칙
# 슬라이싱은 ':'(콜론)으로 연결되어 있고
# range는 ','(콤마)로 연결되어 있습니다.

print(list(range(100)))
#python 2.x에서 python 3.x에 range를 사용하고 싶다면 xrange(10)를 사용
print(list(range(5, 10)))
print(list(range(0, 101, 2))) #짝수
print(list(range(1, 101, 2))) #홀수
print(list(range(100, 1, -2)))
print(sum(list(range(0, 101)))) # 리소스 낭비
print(sum(range(0, 101))) # 이렇게 형 변환을 하지 않고 sum해야 함.

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
[5, 6, 7, 8, 9]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
[100, 98, 96, 94, 92, 90, 88, 86, 84, 82, 80, 78, 76, 74, 72, 70, 68, 66, 64, 62, 60, 58, 56, 54, 52, 50, 48, 46, 44, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2]
5050
5050

## list comprehension

In [ ]:
# l = [1, 2, 3, 4, ...]
# list(range(1, 101))
l = []
for i in range(1, 101):
    l.append(i)
l

In [ ]:
l = []
for i in range(1, 11):
    l.append(i ** i)
l

[1, 4, 27, 256, 3125, 46656, 823543, 16777216, 387420489, 10000000000]

In [ ]:
l = [i ** i for i in range(1, 11)]
l

[1, 4, 27, 256, 3125, 46656, 823543, 16777216, 387420489, 10000000000]

In [ ]:
l = [i for i in range(1, 11)]
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
l = []
for i in range(1, 100):
    if i % 3 == 0 or i % 5 == 0:
        l.append(i)

a = [i for i in range(1, 100) if i % 3 == 0 or i % 5 == 0]
a

[3,
 5,
 6,
 9,
 10,
 12,
 15,
 18,
 20,
 21,
 24,
 25,
 27,
 30,
 33,
 35,
 36,
 39,
 40,
 42,
 45,
 48,
 50,
 51,
 54,
 55,
 57,
 60,
 63,
 65,
 66,
 69,
 70,
 72,
 75,
 78,
 80,
 81,
 84,
 85,
 87,
 90,
 93,
 95,
 96,
 99]

## tuple (튜플)

- 튜플은 순서가 있는 시퀀스형 자료형입니다.
- 참조값은 변경이 불가능(immutable) 합니다.
- 다른 자료형을 입력할 수 있으며, 튜플 안에 튜플로 다차원의 튜플을 만드는 것도 가능합니다.
- 값의 중복을 허락합니다.

In [ ]:
t = (10, 20, 30)
t[1] = 1000

In [ ]:
l = [1, 2, 3]
t = (l, 20, 30) # 불변인 것은 t가 l을 참조하고 있다는 것이 불변
l[0] = 1000
t

([1000, 2, 3], 20, 30)

In [ ]:
t = (10, 20, 30, 40, 50)
t[:3]

(10, 20, 30)

In [ ]:
type(t), dir(t)

(tuple,
 ['__add__',
  '__class__',
  '__class_getitem__',
  '__contains__',
  '__delattr__',
  '__dir__',
  '__doc__',
  '__eq__',
  '__format__',
  '__ge__',
  '__getattribute__',
  '__getitem__',
  '__getnewargs__',
  '__gt__',
  '__hash__',
  '__init__',
  '__init_subclass__',
  '__iter__',
  '__le__',
  '__len__',
  '__lt__',
  '__mul__',
  '__ne__',
  '__new__',
  '__reduce__',
  '__reduce_ex__',
  '__repr__',
  '__rmul__',
  '__setattr__',
  '__sizeof__',
  '__str__',
  '__subclasshook__',
  'count',
  'index'])

In [ ]:
t = (10, 20, 30, 40, 50, 20)
t.index(20), t.count(20)

(1, 2)

In [ ]:
t = tuple('leejuntae')
t
t = tuple()
t
t = tuple(range(10))
t
t = (1) 
t
t = (1,) #원소를 하나씩 넣고 싶을 때는 콤마(,)를 사용해줍니다.
t

(1,)

## dict (딕셔너리, 사전형)

- 딕셔너리는 순서가 없는 자료형입니다.(순서는 보장)
- 사전형은 Key와 Value 가 하나의 묶음으로 이루어진 자료 체계입니다.
- 값의 변경이 가능합니다.
- 다른 자료형을 입력할 수 있습니다.
- 키의 중복은 허락하지 않고, 값의 중복을 허락합니다.

In [ ]:
{
    '게시물 번호' : 1,
    '게시자' : '이준태',
    '게시물 내용' : '......'
}

{'게시물 번호': 1, '게시자': '이준태', '게시물 내용': '......'}

In [ ]:
d = {'one' : '하나', 'two' : '둘', 'three' : '셋'}
d['one']

'하나'

In [ ]:
d['two'] = '투'
d

{'one': '하나', 'two': '투', 'three': '셋'}

In [ ]:
d = {} # dict
type(d)

d = {10} # set
type(d)

d = dict() # dict
type(d)

d = {'one' : 1} # dict
type(d)

In [ ]:
d = {'one' : '하나', 'two' : '둘', 'three' : '셋'}
d.items()

dict_items([('one', '하나'), ('two', '둘'), ('three', '셋')])

In [ ]:
dict([('one', '하나'), ('two', '둘'), ('three', '셋')])

{'one': '하나', 'two': '둘', 'three': '셋'}

In [ ]:
dict([['one', '하나'], ['two', '둘'], ['three', '셋']])

{'one': '하나', 'two': '둘', 'three': '셋'}

In [ ]:
dict(name = 'leejuntae', age = 10)

{'name': 'leejuntae', 'age': 10}

In [ ]:
list(zip('ABC', '123', 'abc'))

dict(zip('ABC', '123')) #형변환

{'A': '1', 'B': '2', 'C': '3'}

In [ ]:
# dict와 zip를 사용해서 아래와 같은 형태로 데이터를 만들어주세요.
# 원하는 형태{'A': [10, 20], 'B': [20, 30], 'C': [30, 40]}
# 방법 1
dict(zip('ABC', [[10, 20], [20, 30], [30, 40]]))

# 방법 2
# dict(zip('ABC', [list(elem) for elem in zip([10, 20, 30], [20, 30, 40])]))

# 방법 3
# l = [10, 20, 30, 40]
# dict(zip('ABC', zip(l, l[1:])))

{'A': [10, 20], 'B': [20, 30], 'C': [30, 40]}

In [ ]:
'B' in {'A' : [10, 20], 'B' : [20, 30], 'C' : [30, 40]}

True

In [ ]:
%%timeit

s = 0
for i in range(10000):
    s += i

486 µs ± 169 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [ ]:
%%timeit

sum([i for i in range(10000)])

426 µs ± 54.3 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [ ]:
%%timeit

sum(range(10000))

277 µs ± 84.3 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [ ]:
len({'A' : [10, 20], 'B' : [20, 30], 'C' : [30, 40]})

3

In [ ]:
# 공부해두시면 좋습니다!
def switch(day):
    return{
        1 : '월요일',
        2 : '화요일',
        3 : '수요일',
        4 : '목요일',
        5 : '금요일',
        6 : '토요일',
        7 : '일요일',
    }[day]

switch(7)
# switch(8) # error

'일요일'

In [ ]:
def switch(day):
    return{
        1 : '월요일',
        2 : '화요일',
        3 : '수요일',
        4 : '목요일',
        5 : '금요일',
        6 : '토요일',
        7 : '일요일',
    }.get(day)

switch(8)
# get을 사용하면 None을 줍니다.

In [ ]:
def switch(day):
    return{
        1 : '월요일',
        2 : '화요일',
        3 : '수요일',
        4 : '목요일',
        5 : '금요일',
        6 : '토요일',
        7 : '일요일',
    }.get(day, '요일을 찾지 못했습니다.')

switch(8) # get을 사용하면 못찾는 값을 넣었을 때 Default값을 줍니다.

'요일을 찾지 못했습니다.'

In [ ]:
!python --version

Python 3.10.11

In [ ]:
{'A': [10, 20], 'B': [20, 30], 'C': [30, 40]}.keys()

dict_keys(['A', 'B', 'C'])

In [ ]:
{'A': [10, 20], 'B': [20, 30], 'C': [30, 40]}.values()

dict_values([[10, 20], [20, 30], [30, 40]])

In [ ]:
{'A': [10, 20], 'B': [20, 30], 'C': [30, 40]}.items()
# key와 value 값 둘 다 뽑아냄

dict_items([('A', [10, 20]), ('B', [20, 30]), ('C', [30, 40])])

In [ ]:
dict.fromkeys('leejuntae')

{'l': None, 'e': None, 'j': None, 'u': None, 'n': None, 't': None, 'a': None}

In [ ]:
dict.fromkeys('leejuntae', 100)

{'l': 100, 'e': 100, 'j': 100, 'u': 100, 'n': 100, 't': 100, 'a': 100}

In [ ]:
keys = ('name', 'age', 'grade')
values = ('leejuntae', '10', '수')

dict.fromkeys(keys, values)

{'name': ('leejuntae', '10', '수'),
 'age': ('leejuntae', '10', '수'),
 'grade': ('leejuntae', '10', '수')}

In [ ]:
d = {'one' : '하나', 'two' : '둘', 'three' : '셋'}
d.update({'one' : 1, 'two' : 2})
d

{'one': 1, 'two': 2, 'three': '셋'}

## 딕셔너리의 순회

In [ ]:
# key만 순회합니다.
d = {'two' : 2, 'three' : '셋'}
for i in d:
    print(i)

two
three

In [ ]:
d = {'two' : 2, 'three' : '셋'}
for i in d:
    print(d[i])

2
셋

## 언패킹

In [ ]:
# 패킹 : 1, 2, 3 => [1, 2, 3]
# 언패킹 : [1, 2, 3] => 1, 2, 3

In [ ]:
a, b, c = 10, 20, 30
a

10

In [ ]:
a, b, c = {10, 20, 30} # 소괄호든 대괄호든 상관없습니다!
a

10

In [ ]:
a, b, c = (10, 20, 30) # 소괄호든 대괄호든 상관없습니다!
a

10

In [ ]:
a, b, c = [10, 20, 30] # 소괄호든 대괄호든 상관없습니다!
a

10

In [ ]:
for i , j in [[10, 20], [30, 40], [50, 60]]:
    print(i, j)

10 20
30 40
50 60

In [ ]:
for i, j, k in [[10, 20, [1, 2]], [30, 40, [3, 4]], [50, 60, [5, 6]]]:
    print(i, j, k)

10 20 [1, 2]
30 40 [3, 4]
50 60 [5, 6]

In [ ]:
for i, j, k in [[10, 20, [1, 2]], [30, 40, [3, 4]], [50, 60, []]]:
    print(i, j, k)

10 20 [1, 2]
30 40 [3, 4]
50 60 []

In [ ]:
# swap
a = 10
b = 15
a, b = b, a
a, b

(15, 10)

In [ ]:
# swap in c
a = 10
b = 15
temp = a
a = b
b = temp
a, b

(15, 10)

In [ ]:
for i, j in d.items():
     print(i, j)

two 2
three 셋

## max를 이용한 dict 최대 value의 key값 가져오기

In [ ]:
d = {
    'test1' : 10,
    'test2' : 20,
    'test3' : 31,
    'test4' : 11,
}

max(d.values()) # 이걸로는 뭔가 찾아내기 힘듭니다.
max(d, key=lambda x: d[x])
max(d, key = d.get) # 많이 사용하는 코드입니다.

'test3'

## set (셋, 집합)

* 집합 자료형은 중복을 허용하지 않습니다.
* 순서가 없는 자료형

In [ ]:
n = set([1, 1, 2, 2, 3, 3, 4])
print(n)

{1, 2, 3, 4}

In [ ]:
s = set('hello world')
print(s)

{'h', 'o', 'e', 'r', 'l', 'd', ' ', 'w'}

In [ ]:
n = set([1, 1, 2, 2, 3, 3, 4])
n.add(1000)
print(n)

{1, 2, 3, 4, 1000}

In [ ]:
n = set([1, 1, 2, 2, 3, 3, 4])
n.update({1000})
print(n)

{1, 2, 3, 4, 1000}

In [ ]:
n = set([1, 1, 2, 2, 3, 3, 4])
n.remove(1)
print(n)

{2, 3, 4}

* pop은 실무에서 사용하지 않습니다. 값을 랜덤하게 뽑아내기 때문입니다.
* 높은 확률로 앞에서부터 뽑아내긴 하지만 확률에 기대는 코딩을 하지 않기를 바랍니다.
* 공식문서에서는 랜덤하게 뽑아낸다고 되어 있습니다.
* https://docs.python.org/3.11/library/stdtypes.html#frozenset.pop

In [ ]:
# 교집합 별 3개
a = {1, 2, 3}
b = {3, 4, 5}
a & b
a.intersection(b)

{3}

In [ ]:
# 합집합
a = {1, 2, 3}
b = {3, 4, 5}
a | b
a.union(b)
# a + b # error  셋은 + 가 안됨

{1, 2, 3, 4, 5}

In [ ]:
# 차집합
a = {1, 2, 3}
b = {3, 4, 5}
a - b
a.difference(b)

{1, 2}

In [ ]:
s = {1, 2, 3, 4}
ss = {3, 4, 5, 6}
s.issubset({1, 2})
# s가 {1, 2}의 서브셋이냐? False
s.issubset({1, 2, 3, 4, 5, 6, 7, 8})
# s가 {1, 2, 3, 4, 5, 6, 7, 8}의 서브셋이냐? True

True

In [ ]:
# https://school.programmers.co.kr/learn/courses/30/lessons/120903?language=python3
def solution(s1, s2):
    return len(set(s1) & set(s2))

In [ ]:
# https://school.programmers.co.kr/learn/courses/30/lessons/120888?language=python3
# my_string     result
# "people"      "peol"

In [ ]:
# my_string     result
# "people"      "peol"
result = ''
for i in 'people':
    if i not in result:
        result += i

result

'peol'

In [ ]:
def solution(my_string):
    return set(my_string)

solution('people')

{'e', 'l', 'o', 'p'}

In [ ]:
def solution(my_string):
    return ''.join(set(my_string))

solution('people')

'epol'

In [ ]:
def solution(my_string):
    집합 = set(my_string)
    result = ''
    for i in my_string:
        if i in 집합:
            result += i
            집합.remove(i)
    return result

solution('people')

'peol'

## !!연습문제

In [ ]:
student_score = {
		'홍의': 97,
		'원희': 60,
		'동해': 77,
		'변수': 79,
		'창현': 89,
}

# 학생들의 **총점**을 구하는 코드를 작성하세요.
sum(student_score.values())
# 학생들의 **평균 점수**를 구하는 코드를 작성하세요.
sum(student_score.values())/len(student_score)
# 점수가 가장 **높은** 학생의 이름과 그 점수를 구하는 코드를 작성하세요.
max(student_score, key = student_score.get)
student_score[max(student_score, key = student_score.get)]
# 점수가 가장 **낮은** 학생의 이름과 그 점수를 구하는 코드를 작성하세요.
min(student_score, key = student_score.get)
student_score[min(student_score, key = student_score.get)]

60

In [ ]:
가장큰값 = max(student_score.values())
for i in student_score:
    if student_score[i] == 가장큰값:
         print(i, 가장큰값)

홍의 97

In [ ]:
like = ['볶음밥', '라면', '국수', '파스타', '치킨', '짜장면', '국밥']
dislike = ['국밥', '짬뽕', '찜닭', '파스타', '국수', '카레', '덮밥']
# 학생들은 점심 메뉴를 고를 때, 한 명이라도 싫어하는 메뉴라면 고르지 않기로 했습니다.
# 최종 후보 메뉴들의 리스트를 구하는 코드를 작성해주세요.
list(set(like) - set(dislike))

['볶음밥', '치킨', '짜장면', '라면']