<a href="https://colab.research.google.com/github/ljt528/Backend/blob/main/%EA%B8%B0%EC%B4%88%EC%97%AD%EB%9F%89_10%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
# 1. 원주율 정수(3)만 출력하도록 코드를 짜보세요.
# 원주율 = 3.141592

원주율 = 3.141592
print(int(원주율))

3

In [ ]:
# 2. 다음 파이썬 문법 중에서 True로 사용하는 것을 고르시오.

# a. None
# b. 1
# c. ""
# d. 0
# e. bool(0)

답 : b

In [44]:
# 3. 인사말을 완성해주세요.
# 안녕하세요. 홍길동입니다.

my_name = '홍길동'
print(f'안녕하세요. {my_name}입니다.')

안녕하세요. 홍길동입니다.

In [ ]:
# 4. 리스트 요소 삭제 방법으로 맞지 않는 것은?

# a. del 구문
# b. clear()
# c. reverse()
# d. remove()
# e. pop()

답 : c

In [45]:
# 5. 숫자를 입력 받고, 해당 값의 약수를 구하는 함수를 작성하시오.

num = int(input('숫자를 입력해주세요 : '))
result = []

def divisor(num):
    for i in range(1, num+1):
        if num % i == 0:
            result.append(i)
    return result
divisor(num)

숫자를 입력해주세요 : 6

[1, 2, 3, 6]

In [46]:
# 6. 함수는 리스트와 알파벳을 입력받습니다.
# 입력받은 리스트에서 알파벳이 몇 개 있는지 출력하는 함수를 만들어주세요.

def solution(l, a):
    return l.count(a)

solution(['a', 'b', 'c', 'a', 'a'], 'a')

3

In [47]:
# 7. 함수는 2차원 리스트를 입력받습니다.
# 아래와 같이 2차원 리스트를 두번째 값을 기준으로 내림차순 정렬하는 함수를 만들어주세요.
# 정답 : [[10, 5], [30, 4], [20, 3], [40, 1]]

def solution(l):
    return sorted(l, key = lambda x : x[1], reverse = True)

solution([[10, 5], [20, 3], [30, 4], [40, 1]])

[[10, 5], [30, 4], [20, 3], [40, 1]]

In [54]:
# 8. 2차원 리스트가 주어졌을 때 각 값의 차를 저장한 리스트를 출력해주세요.
# 정답 : [[5], [17], [26], [39]]

def solution(l):
    return list(map(lambda x : x[0]-x[1], l))

solution([[10, 5], [20, 3], [30, 4], [40, 1]])

[5, 17, 26, 39]

In [65]:
# 9. 주어진 문자열의 합을 구하는 코드를 작성하세요.
# 주어진 문자열의 합을 구하는 코드를 작성하세요.
# 정답 : 8

def solution(s):
    return sum([int(i) for i in s])

solution('11123')

8

In [67]:
# 10. 주어진 문자열에서 ‘!’와 공백을 없애는 코드를 작성하세요.
# 정답 : helloworld

def solution(s):
    return s.replace('!', '').replace(' ', '')

solution('!hello!wor     ld!     ')

'helloworld'